<div class="btn-group">
  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="wrapper"><ng-content></ng-content></span>
      <span class="default"><!-- Only display if no name specified -->
        {{getCurrentPage().num + '. ' + getCurrentPage().name}} 
      </span>
  </button>

  <div class="dropdown-menu">
    <a class="dropdown-item" *ngFor="let page of pages"  href="#{{page.name}}" (click)="page.goTo()">
      {{page.num + '. ' + page.name}}
    </a>
    <!-- <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">Separated link</a> -->
  </div>
</div>