<form role = "form"> 
   <form class="was-validated">
<div class="container">

  <nav-tabs  [pages] = "pages" ></nav-tabs>
  <nav-show-all-button [of]="multiPage"></nav-show-all-button>


  <div  page [of]="multiPage" [name]="'Introduction'" class="form-group">
    <intro-text></intro-text>
  </div>

  <div page [of]="multiPage" [name]="'Contact Information'">
  <div class="p-3 mb-2 bg-secondary text-white"><b>Contact Information</b></div>



  <div class="form-group container">
        <label for="text">What is your current name? </label>
        <div class="input-group-prepend"> 

          <span class="input-group-text" id="">Family Name:</span>
          <input  name="familyName"
           id="familyName" type="text" class="form-control">
          <!-- <div class="invalid-feedback" *ngIf ="familyName.touched &&!familyName.valid"> Family name is required</div> -->

          <span class="input-group-text" id="">First Name:</span>
          <input name="firstName"
          id="firstName" type="text" class="form-control">
          <!-- <div class="invalid-feedback" *ngIf ="!familyName.valid">First name is required</div> -->

          <span class="input-group-text" id="">Middle Name:</span>
          <input name= "middleName"  type="text" class="form-control">
        </div>
  </div>
  
        

  <div class="form-group container">
        <label for="text">Have you ever used another name? If yes, please include all previous names (including maiden name): </label>
        <div class="input-group-prepend"> 
          <span class="input-group-text" id="">Family Name:</span>
          <input type="text" class="form-control">
          <span class="input-group-text" id="">First Name:</span>
          <input type="text" class="form-control">
          <span class="input-group-text" id="">Middle Name:</span>
          <input type="text" class="form-control">
        </div>
  </div>

  <div class="form-group container">
  <label for="text">Gender:</label>
  <div class="custom-control custom-radio ">
    <input type="radio" class="custom-control-input" id="customControlValidation2" name="radio-stacked" required>
    <label class="custom-control-label" for="customControlValidation2">Male</label>
  </div>
  <div class="custom-control custom-radio mb-3 ">
    <input type="radio" class="custom-control-input" id="customControlValidation3" name="radio-stacked" required>
    <label class="custom-control-label" for="customControlValidation3">Female</label>
    <div class="invalid-feedback">Gender required</div>
  </div>
  </div>


  <div class="form-group container">
    <label for="text">Where do you live?<br> </label>
    <div class="input-group-prepend"> 
      <span class="input-group-text" id="">Street Address, Apt:</span>
      <input type="text" class="form-control">
      <span class="input-group-text" id="">City/Town:</span>
      <input type="text" class="form-control">
  
    </div>
  </div>
  
  
    <div class="input-group-prepend container"> 
      <span class="input-group-text" id="">Region/State/Province:</span>
      <input type="text" class="form-control">
      <span class="input-group-text" id="">Country:</span>
      <input type="text" class="form-control">
      <span class="input-group-text" id="">Postal Code:</span>
      <input type="text" class="form-control">
    </div><br>

    <div class="input-group-prepend container"> 
      <span class="input-group-text" id="">Telephone:</span>
      <input type="text" class="form-control">
      <span class="input-group-text" id="">Email:</span>
      <input type="text" class="form-control">
    </div>
     <br>

     <div class="form-group container">
      <label for="language">What is your preferred language of correspondence? </label>
      <div class="form-group">
        <input type="radio" name="language" value=" male" checked> English 
        <input type="radio" name="language" value=" female"> Hebrew 
        <input type="radio" name="language" value=" female"> German
        <br>
      </div>
    </div>

    <div class="form-group container">
      <label for="text">In case we cannot contact you, is there someone who you would like to authorize to speak with us about your
        claim? If so, please provide this person’s contact information below.<br> </label>
      <div class="input-group-prepend"> 
        <span class="input-group-text" id="">Family Name:</span>
        <input type="text" class="form-control">
        <span class="input-group-text" id="">First Name:</span>
        <input type="text" class="form-control">
        <span class="input-group-text" id="">Relationship to you: </span>
        <input type="text" class="form-control">
      </div>
    </div>

    <div class="input-group-prepend container"> 
      <span class="input-group-text" id="">Street Address, Apt:</span>
      <input type="text" class="form-control">
      <span class="input-group-text" id="">City/Town:</span>
      <input type="text" class="form-control">
    </div><br>

    <div class="input-group-prepend container"> 
      <span class="input-group-text" id="">Region/State/Province:</span>
      <input type="text" class="form-control">
      <span class="input-group-text" id="">Country:</span>
      <input type="text" class="form-control">
      <span class="input-group-text" id="">Postal Code:</span>
      <input type="text" class="form-control">
    </div><br>

    
    <div class="input-group-prepend container"> 
      <span class="input-group-text" id="">Telephone:</span>
      <input type="text" class="form-control">
      <span class="input-group-text" id="">Email:</span>
      <input type="text" class="form-control">
    </div>
     <br>

    <!-- page 1 -->
     </div>




    <div  page [of]="multiPage" [name]="'Personal History'">
    <div class="p-3 mb-2 bg-secondary text-white"><b>Personal History</b></div>

    <div class="form-group container">
      <label for="text">Where were you born?  </label>
      <div class="input-group-prepend"> 
        <span class="input-group-text" id="">City/Town of Birth: </span>
        <input type="text" class="form-control">
        <span class="input-group-text" id="">Region of Birth:</span>
        <input type="text" class="form-control">
        <span class="input-group-text" id="">Country of Birth: </span>
        <input type="text" class="form-control">
      </div>
    </div>


    <div class="form-group container">
      <label for="text">What is your official date of birth? </label>
         <div class="input-group-prepend"> 
        <span class="input-group-text" id="">Day: </span>
        <input type="text" class="form-control">
        <span class="input-group-text" id="">Month:</span>
        <input type="text" class="form-control">
        <span class="input-group-text" id="">Year: </span>
        <input type="text" class="form-control">
       </div>
       </div>

       
    <div class="form-group container">
      <label for="text">
        Have you ever used another date of birth? If yes, please
        indicate the alternate date  </label>

      <div class="input-group-prepend"> 
        <span class="input-group-text" id="">Day: </span>
        <input type="text" class="form-control">
        <span class="input-group-text" id="">Month:</span>
        <input type="text" class="form-control">
        <span class="input-group-text" id="">Year: </span>
        <input type="text" class="form-control">
      </div>
    </div>

    </div>


    <div  page [of]="multiPage" [name]="'Experience During the War'">

    <div class="p-3 mb-2 bg-secondary text-white"><b>Experience During the War</b></div>

    <div class="form-group container">
      <label for="language">How were you persecuted as a Jew by the Nazis and/or by 
        their allies? Please check all that apply: </label>
      <div class="form-group">
        <input type="radio" name="camp" value=" camp" checked> I was in a camp or similar place of incarceration.<br>
        <input type="radio" name="ghetto" value=" ghetto"> I was in a ghetto.<br>
        <input type="radio" name="hiding" value="hiding"> I lived in hiding without access to the outside world.<br>
        <input type="radio" name="false identity" value="false identity"> I lived in illegality/under a false identity.<br>
        <input type="radio" name="kinder" value="Kindertransport"> I was sent on a Kindertransport when I was under 21 years old.
         <br>
      </div>
    </div>

    <div class="form-group container">
      <label for="text">Which country were you living in prior to 9 November 1938 (Kristallnacht)</label>

      <div class="input-group-prepend"> 
        <input type="text" class="form-control">
      </div>
    </div>

    <div class="form-group container">
      <label for="text">Which countries did you live in after that date? Write the country and year. </label>

      <div class="input-group-prepend"> 
        <span class="input-group-text" id="">Country:</span>
        <input type="text" class="form-control">
        <span class="input-group-text" id="">Year: </span>
        <input type="text" class="form-control"><br>
        <!-- TO DO :add more countries -->
      </div>
      <br>
      <button type="button" class="btn btn-danger">+</button> <b> Add country</b>
    </div>


    <div class="form-group container">
      <label for="text">What month and year did your Kindertransport
        leave?  </label>

      <div class="input-group-prepend"> 
        <span class="input-group-text" id="">Month:</span>
        <input type="text" class="form-control">
        <span class="input-group-text" id="">Year: </span>
        <input type="text" class="form-control"><br>
      </div>
    </div>
    

    <div class="form-group container">
      <label for="text">From where did your Kindertransport leave continental
        Europe? Insert city and country. 
         </label>

      <div class="input-group-prepend"> 
        <input type="text" class="form-control">
      </div>
    </div>

    <div class="form-group container">
      <label for="language">Did your mother or father accompany you on the Kindertransport? </label>
      <div class="form-group">
        <input type="radio" name="yes" value=" yes" checked> Yes.<br>
        <input type="radio" name="no" value="no"> No.<br>
      </div>
    </div>
    
    <div class="form-group container">
      <label for="language">Did any siblings accompany you?</label>
      <div class="form-group">
        <input type="radio" name="yes" value=" yes" checked> Yes.<br>
        <input type="radio" name="no" value="no"> No.<br>
        <label for="language">- If Yes, please insert their current first and last name(s). </label>
        <!-- TO DO: if yes -->
        <div class="input-group-prepend"> 
          <input type="text" class="form-control">
        </div>
      </div>
    </div>

    </div>


    <div  page [of]="multiPage" [name]="'Parents Information'">

    <div class="p-3 mb-2 bg-secondary text-white"><b>Parents Information </b></div>

    <div class="form-group container">
      <label for="text"> What is your mother’s name?  </label>
      <div class="input-group-prepend"> 
        <span class="input-group-text" id="">Family Name:</span>
        <input type="text" class="form-control">
        <span class="input-group-text" id="">First Name:</span>
        <input type="text" class="form-control">
      </div>
</div>

<div class="form-group container">
  <label for="text"> What is your mother’s date of birth?  </label>

  <div class="input-group-prepend"> 
    <span class="input-group-text" id="">Day: </span>
    <input type="text" class="form-control">
    <span class="input-group-text" id="">Month:</span>
    <input type="text" class="form-control">
    <span class="input-group-text" id="">Year: </span>
    <input type="text" class="form-control">
  </div>
</div>

<div class="form-group container">
  <label for="text"> What is your mother’s date of death?  </label>

  <div class="input-group-prepend"> 
    <span class="input-group-text" id="">Day: </span>
    <input type="text" class="form-control">
    <span class="input-group-text" id="">Month:</span>
    <input type="text" class="form-control">
    <span class="input-group-text" id="">Year: </span>
    <input type="text" class="form-control">
    
  </div>
</div>

<div class="form-group container">
  <label for="text"> What is your mother’s place of death?</label>
  <div class="input-group-prepend"> 
    <input type="text" class="form-control">
  </div>
</div>
<br>


<div class="form-group container">
  <label for="text"> What is your father’s name?  </label>
  <div class="input-group-prepend"> 
    <span class="input-group-text" id="">Family Name:</span>
    <input type="text" class="form-control">
    <span class="input-group-text" id="">First Name:</span>
    <input type="text" class="form-control">
  </div>
</div>

<div class="form-group container">
<label for="text"> What is your father’s date of birth?  </label>

<div class="input-group-prepend"> 
<span class="input-group-text" id="">Day: </span>
<input type="text" class="form-control">
<span class="input-group-text" id="">Month:</span>
<input type="text" class="form-control">
<span class="input-group-text" id="">Year: </span>
<input type="text" class="form-control">
</div>
</div>

<div class="form-group container">
<label for="text"> What is your father’s date of death?  </label>

<div class="input-group-prepend"> 
<span class="input-group-text" id="">Day: </span>
<input type="text" class="form-control">
<span class="input-group-text" id="">Month:</span>
<input type="text" class="form-control">
<span class="input-group-text" id="">Year: </span>
<input type="text" class="form-control">

</div>
</div>

<div class="form-group container">
<label for="text"> What is your father’s place of death?</label>
<div class="input-group-prepend"> 
<input type="text" class="form-control">
</div>
</div>

</div>


<!-- page 2 -->

<div  page [of]="multiPage" [name]="'Previous Compensation'">

<div class="p-3 mb-2 bg-secondary text-white"><b>Previous Compensation  </b></div>

<div class="form-group container">
  <label for="text"> If you receive a monthly German government BEG pension, what is your BEG monthly pension number?
    This number can be found on your monthly paystub or other documents referring to your BEG pension.</label>
  <div class="input-group-prepend">  
  <input type="text" class="form-control">
  </div><br>

  <label for="text"> What authority issues your BEG monthly pension?</label>
  <div class="input-group-prepend">  
  <input type="text" class="form-control">
  </div><br>

  <label for="text"> From where do you receive your BEG monthly pension?
     (Example: Berlin, Hamburg, Saarburg, etc.)</label>
  <div class="input-group-prepend">  
  <input type="text" class="form-control">
  </div>
  </div><br><br>


  <div class="form-group container">
    <label for="text">If you have ever applied to other compensation programs for your persecution, please list these programs and
      whether you were awarded compensation (for example, the Claims Conference funds, the German BEG
      Wiedergutmachung or Länderhärtefonds, payments from the Israeli Ministry of Finance, the Austrian Opferfürsorge,
      or the French Orphan Pension).
      If you receive(d) compensation for your persecution, please include any documentation you have referring to this payment.  </label>

    <br>
    <br>
  </div>

  <!-- <div class="form-row container"> -->
    <div class="form-row container">
    <span class="col" id=""><b>Fund or Program:</b></span>
    <span class=" col" id=""><b>Country:</b> </span>
    <span class="col" id=""><b>Claim Number:</b></span>
    <span class=" col" id=""><b>One-time payment or pension:</b></span>
    <span class=" col" id=""><b>Was payment awarded?</b></span>
    </div><br>

    <div class="form-row container">
      <div class="col">
        <input type="text" class="form-control" placeholder="">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="">
      </div>
      <div class="col ">
        <input type="text" class="form-control" placeholder="">
      </div>
      

        <div class="col  ">
          <input type="radio" name="camp" value=" camp"  checked>One-time <br>
          <input type="radio" name="camp" value=" camp">Pension<br>
        </div>
        

        <div class=" col ">
          <input type="radio" name="camp" value=" camp" checked>Yes<br>
          <input type="radio" name="camp" value=" camp">No<br>
        </div>

      </div><br>

    
       <!-- TO DO : add more -->
       &nbsp;&nbsp; <button type="button" class="btn btn-danger">+</button>  <b> Add program</b>
       <br>
       <br>

       </div>

       <div  page [of]="multiPage" [name]="'Banking Information'">
        

       <div class="p-3 mb-2 bg-secondary text-white"><b>Banking Information  </b></div>

<div class="form-group container">
  <label for="text">In case of a positive decision, having your bank account information on file will expedite payment. We can only wire
    payment to bank accounts in your name. </label>
    
    <div class="input-group-prepend"> 
      <span class="input-group-text" id="">Name of Bank</span>
      <input type="text" class="form-control">
      <span class="input-group-text" id="">Address of Bank</span>
      <input type="text" class="form-control">
    </div>
    <br>

    <div class="input-group-prepend"> 
      <span class="input-group-text" id="">IBAN number (EU residents) or
        Account Number (all other countries)</span>
    </div>
    <input type="text" class="form-control"><br>

    <div class="input-group-prepend"> 
      <span class="input-group-text" id="">ABA Routing Code (USA Residents)/
        Sortcode (UK Residents)/
        SWIFT Code (all other countries)</span>
    </div>
    <input type="text" class="form-control"><br>
    <br>

    <div class="input-group-prepend"> 
      <span class="input-group-text" id="">For Israeli residents &nbsp;  <b>only </b> &nbsp;:
        Bank Branch Number</span>
    </div>
    <input type="text" class="form-control"><br>
    <br>


    <div class="input-group-prepend"> 
      <span class="input-group-text" id="">For Canadian residents  &nbsp;  <b>only </b> &nbsp;:
        Transit and Institutional number</span>
    </div>
    <input type="text" class="form-control"><br>
    <br>


    <div class="input-group-prepend"> 
      <span class="input-group-text" id="">For Australian residents  &nbsp;  <b>only </b> &nbsp;:
        Bank State Branch (“BSB”)</span>
    </div>
    <input type="text" class="form-control">
    
    </div>

    </div>

    <!-- page 3 -->

    <div  page [of]="multiPage" [name]="'Required Documentation'">

    <div class="p-3 mb-2 bg-secondary text-white"><b>Required Documentation </b></div>
    <div class="form-group container">
      <b>Proof of Identity</b>
      <label for="text">To complete your application, please provide us with a copy of a valid government-issued ID.
        This ID must have your photo and a signature.   </label><br><br>
        <label for="gender">What type of ID are you submitting?  </label>
    <div class="form-group">
      <input type="radio" name="gender" value=" male" checked> Passport<br>
      <input type="radio" name="gender" value=" female"> National Identity Card <br>
      <input type="radio" name="gender" value=" female"> Driver license <br>
      <input type="radio" name="gender" value=" female"> Other<br>
      <div class="col-3">
        <input type="text" class="form-control" placeholder="please specify">
      </div>
    </div>
    
    </div>

    
    
      <div class="row">
        
        <div class="col">
          <span class="input-group-text" id="">What is the ID number associated with this ID? </span>
          <input type="text" class="form-control" placeholder="">
        </div>
        <div class="col">
          <span class="input-group-text" id="">What is the country of issue? </span>
          <input type="text" class="form-control" placeholder="">
        </div>
      </div><br>

      <div class="row ">
        <div class="col">
          <div class="row container">
            <label for="text">When was it issued?  </label><br>
           </div>
          <div class=" row">
            
            <div class="col">
              <span class="input-group-text" id="">Day </span>
          <input type="text" class="form-control" placeholder="">
          </div>
          <div class="col">
            <span class="input-group-text" id="">Month </span>
          <input type="text" class="form-control" placeholder="">
          </div>
          <div class="col">
            <span class="input-group-text" id=""> Year </span>
          <input type="text" class="form-control" placeholder="">
          </div>
          </div>
          </div>
        

          <div class="col">
            <div class="row container">
              <label for="text">When does it expire? </label><br>
             </div>
            <div class=" row">
              
              <div class="col">
                <span class="input-group-text" id="">Day </span>
            <input type="text" class="form-control" placeholder="">
            </div>
            <div class="col">
              <span class="input-group-text" id="">Month </span>
            <input type="text" class="form-control" placeholder="">
            </div>
            <div class="col">
              <span class="input-group-text" id=""> Year </span>
            <input type="text" class="form-control" placeholder="">
            </div>
            </div>
            </div>


        </div>
      <br>

      <div class="row">
        
        <div class="col">
          <div class="row">
            <div class="col">
            
          <span class="text" id="">For current residents of the Unites States only:
            You must <br>also provide a copy of your Social Security
            card.<br> What is your Social Security Number?  </span>
            </div>
            <div class="row">
              <span class="text" id="">For current or former residents of Israel only:
                What is your Israel<br> ID number? </span>
            </div>
            </div><br>


            <div class="col">
              <div class="row">
                <div class="col">
                 <input type="text" class="form-control" placeholder="">
               </div>
               <div class="col">
                <input type="text" class="form-control" placeholder="">
              </div>
          </div>
          </div>
        </div>

        


      </div><br>

      <b>Has your name changed?</b><br>
If your name now is not the same as your name at birth, you MUST submit a copy of documents linking your<br>
 nam eat birth to your current name, such as a marriage certificate or other name change document.<br><br>
<b>Authorized Representatives/Guardians</b><br>
If an applicant is unable to sign this application form, an authorized representative may sign on his/her<br>
 behalf. Inaddition to the required documents listed above, please submit <b>ALL </b>of the following documents:<br>

 <ul>
     <li>
        Photocopy of a Power of Attorney or other document granting legal guardianship
     </li>
 </ul>

 <ul>
    <li>
        Photocopy of the authorized representative’s government issued ID
    </li>
</ul>

<ul>
    <li>
        A completed Doctor’s Form which can be downloaded from our website, www.claimscon.org
    </li>
</ul>
<br>

<b>Certification instructions</b><br>
The following entities may certify your documents. Please visit our website (www.claimscon.org) for additional list of
entities that may certify your documents.<br>

<ul>
    <li>
       Notary public
    </li>
</ul>

<ul>
    <li>
       German consulate
    </li>
</ul>

<ul>
    <li>
       Bank
    </li>
</ul>

<ul>
    <li>
      Governmental office of the State of Israel
    </li>
</ul>

<ul>
    <li>
       Jewish social service agency possessing a seal
    </li>
</ul>

<ul>
    <li>
      Amcha office (in Israel) 
    </li>
</ul>

<ul>
    <li>
       City/town hall (in Europe)
    </li>
</ul>
<br>

In order to be properly certified, each document must have <b>ALL</b>  of the following:<br>
<ul>
    <li>
       The stamp of the certifying authority;
    </li>
</ul>

<ul>
    <li>
      The full name (in print letters) of the person certifying the document;
    </li>
</ul>

<ul>
    <li>
      The title or position of the person certifying the document;
    </li>
</ul>

<ul>
    <li>
      The signature of the person certifying the document; and
    </li>
</ul>
<ul>
    <li>The date of certification.
      
    </li>
</ul>


    </div>


    <div  page [of]="multiPage" [name]="'Declaration'" >

      
<!-- page 4 ended -->

<div class="p-3 mb-2 bg-secondary text-white"><b>Declaration</b></div>

  <ul>
      <li>
        I declare that all above and attached statements are true. 
      </li>
  </ul>

  <ul>
      <li>

        I am aware that knowingly making untrue statements will result in a rejection.
         Positive decisions made on false
         information will be overturned and I will return the full amount paid to me by the 
         Claims Conference.
      </li>
  </ul>

  <ul>
      <li>
          
        Should I be entitled to only one payment of euro 2,500 and receive, by mistake, more than this amount, I agree
        that I am required to return the balance to the Claims Conference.
      </li>
  </ul>

  <ul>
      <li>
          In the event that I am obligated, pursuant to this declaration or otherwise, to return payment to the Claims
Conference, I hereby agree that I shall also be liable to reimburse the Claims Conference for any costs and
expenses incurred by the Claims Conference in obtaining the return of such payments.
        
      </li>
  </ul>

  <ul>
      <li>
          
   I understand and hereby agree that the eligibility criteria are solely based on German law. I hereby
unconditionally agree that Frankfurt am Main, Germany is the court of exclusive jurisdiction. I also agree that any  

dispute shall be decided according to the laws of the Federal Republic of Germany.
      </li>
  </ul>

  <ul>
      <li>
  I am aware that I have no legal entitlement to receive assistance. Without derogating from the above, I
irrevocably waive— insofar as this is legally admissible—any claim that I have or may later assert against the
Conference on Jewish Material Claims against Germany relating to or connected with this application or the
processing thereof.        
        
      </li>
  </ul>

  <ul>
      <li>
          I hereby authorize the Claims Conference to request and review any documents from the German Federal
Indemnification Authorities concerning my siblings and parents who may be deceased.
        
      </li>
  </ul>

  <ul>
      <li>
          
    I agree that the Claims Conference may request additional information and documents to process my
application.     
      </li>
  </ul>

  <ul>
      <li>
          
    I agree that the Claims Conference may determine the compensation programs that are appropriate to my
application on my behalf. 

   
      </li>
  </ul>
  
</div>
<div page [of]="multiPage" [name]="'Consent'">

  <div class="p-3 mb-2 bg-secondary text-white"><b>Consent </b></div>

  I authorize the authorities, courts, archives and institutions in Germany and abroad to grant the Claims<br>
Conference access to my compensation files, including those based on the Bundesentschädigungsgesetz, the laws<br>
and provisions of Wiedergutmachung of the German State Governments, or German Federal or State hardship<br>
funds for victims of national socialist persecution, to provide information necessary for the examination and<br>
execution of my application.<br><br>
I am aware that these documents and the information may also include the following special categories of<br>
personal information: name, address, age date of birth, gender, education, profession, personal data revealing<br>
racial or ethnic origin, political or ideological opinions, religious beliefs or union membership and data concerning<br>
health.<br><br>
I understand that information concerning me collected in this form, and the other individuals referred to on this<br>
form, including my family, guardian, or doctor (“Third Parties”) will be processed in accordance with Claims<br>
Conference privacy notice which can be found at

<a href=" http://www.claimscon.org/about/privacy-policy"> http://www.claimscon.org/about/privacy-policy</a>


. I confirm that I<br>
have made these Third Parties aware of this notice and have their permission for the Claims Conference, and any<br>
third parties set out in the notice, to process their personal information in this application form.<br><br>


The processing of these data serves the purpose of processing my request for benefits under one or more of the<br>
Claims Conference compensation funds, which includes the Article 2 Fund, the Central Eastern European Fund,<br>
the Child Survivor Fund, the Kindertransport Fund, and the Hardship Fund.<br><br>


I understand that personal data processed in connection with this application may be transferred to Claims<br>
Conference offices, including but not limited to offices in the U.S., Germany and Israel. I also agree that my<br>
personal data may be made available to the German Ministry of Finance and the German Federal Audit Office<br>
solely for review and audit purposes, in the framework of the data protection provisions of the Federal Republic<br>
of Germany.<br><br>


Information relating to my ethnic and racial origins, political or ideological opinions, religious beliefs, union<br>
membership, and health is considered to be special category data under European data protection law (“Sensitive<br>
Personal Data”). We require your express consent under European data protection law to process Sensitive<br>
Personal Data. <br><br>
By signing below, I hereby expressly accept that in order to determine my eligibility for the compensation<br>
program and receive payment: <br><br>

<ul>
  <li>

My Sensitive Personal Data shall be processed by the Claims Conference to determine my eligibility for
benefits from the Claims Conference restitution programs specified above.

  </li>
</ul>

<ul>
  <li>

My Sensitive Personal Data shall be shared with the German Ministry of Finance/Federal Audit Office.

  </li>
</ul>

<ul>
  <li>

As needed, my personal data and Sensitive Personal Data collected in this form shall be transferred
outside of the European Economic Area. 
  

  </li>
</ul>

In addition, I agree that the Claims Conference may use the personal information contained herein in order to<br>
provide me with additional information regarding compensation programs or social welfare benefits that are<br>
available to Nazi victims.<br><br>

The Claims Conference recognizes my rights in relation to my personal information as set forth in the Claims<br>
Conference privacy notice at

<a href="http://www.claimscon.org/about/privacy-policy">http://www.claimscon.org/about/privacy-policy</a>

.<br><br>


I understand I have the right to withdraw my consent at any time. To withdraw my consent, to exercise my<br>
rights under the privacy notice or to make any complaints I understand I should contact The Claims Conference<br>
at 
<a href="mailto:privacy@claimscon.org">privacy@claimscon.org</a>



or PO Box 1215, New York, New York 10113. The revocation of consent shall not affect<br>
the lawfulness of the processing which has been carried out on the basis of the consent until its revocation. If I<br>
withdraw my consent, I understand that the Claims Conference may not be able to process my application or<br>
comply with its obligations required to make any payment. <br><br>

</div>

<div page [of]="multiPage" [name]="'Signature and Certification'">

  <h4>THIS FORM MUST BE SIGNED AT THE SAME TIME IT IS CERTIFIED</h4>
<h5>In front of a German consulate, bank, notary, a Jewish social service agency possessing a seal,
City/town hall (in Europe), or a governmental office of the State of Israel</h5>


<button type="button" class="btn btn-danger">download the form here</button>
<br><br>

<div class="form-group">
    <label for="exampleFormControlFile1">Please uploaud a signed form:</label>
    <input type="file" class="form-control-file" id="exampleFormControlFile1">
</div>
</div>

<div page [of]="multiPage" [name]="'Addition Files'">
  
<div class="p-3 mb-2 bg-secondary text-white"><b>Add Additional Files </b></div>
<br>

<div class="form-group">
    <label for="exampleFormControlFile1">1)  Attach a government issued photo ID that matches the document listed in
        the Proof of Identity section and Certification section:</label>
    <input type="file" class="form-control-file" id="exampleFormControlFile1">
  </div><br>

  <div class="form-group">
    <label for="exampleFormControlFile1">2) Attach photocopies of Birth certificate:</label>
    <input type="file" class="form-control-file" id="exampleFormControlFile1">
  </div><br>

  <div class="form-group">
    <label for="exampleFormControlFile1">3) Attach photocopies of Birth Documents linking your name at birth to your current name if you
        have listed that your name has changed, such as a marriage certificate
        or other name change document:</label>
    <input type="file" class="form-control-file" id="exampleFormControlFile1">
  </div><br>

  <div class="form-group">
    <label for="exampleFormControlFile1">4) Attach photocopies of Documents that can show your Jewish ancestry:</label>
    <input type="file" class="form-control-file" id="exampleFormControlFile1">
  </div><br>

  <div class="form-group">
    <label for="exampleFormControlFile1">5) Attach Receipt of previous compensation payment, if applicable:</label>
    <input type="file" class="form-control-file" id="exampleFormControlFile1">
  </div><br>

  <div class="form-group">
    <label for="exampleFormControlFile1">6) Attach Photocopy of Social Security Card if you are a resident of the United States of
        America:</label>
    <input type="file" class="form-control-file" id="exampleFormControlFile1">
  </div><br>

  <div class="form-group">
    <label for="exampleFormControlFile1">7) Attach photocopies of Authorized Representative documents if you are filling out this
        application on an applicant’s behalf:</label>
    <input type="file" class="form-control-file" id="exampleFormControlFile1">
  </div><br>

  
  <div class="form-group">
    <label for=" control-label">
        8) Any additional documents that you have that may help substantiate
        your participation in the Kindertransport
    </label>
            <input id="input-2" name="input2[]" type="file" class="file" multiple data-show-upload="true" data-show-caption="true">
        
</div>
<button type="button" class="btn btn-danger btn-lg btn-block">Submit form</button>
</div>


    


  

      
      







<nav-dropdown [pages]="pages"></nav-dropdown>
</div>
</form>
</form>


