<form role = "form">
<div class="container">
  <div class="form-group">
   
  </div>

  <div class="p-3 mb-2 bg-secondary text-white"><b>Contact Information</b></div>

  <div class="form-group container">
        <label for="text">What is your current name? </label>
        <div class="input-group-prepend"> 
          <span class="input-group-text" id="">Family Name:</span>
          <input type="text" class="form-control">
          <span class="input-group-text" id="">First Name:</span>
          <input type="text" class="form-control">
          <span class="input-group-text" id="">Middle Name:</span>
          <input type="text" class="form-control">
        </div>
  </div>
        

  <div class="form-group container">
    <!-- <div class="input-group container"> -->
      <!-- <div class="row"> -->
        <label for="text">Have you ever used another name? If yes, please include all previous names (including maiden name): </label>
      <!-- </div> -->
      <!-- <div class="row"> -->
        <div class="input-group-prepend"> 
          <span class="input-group-text" id="">Family Name:</span>
          <input type="text" class="form-control">
          <span class="input-group-text" id="">First Name:</span>
          <input type="text" class="form-control">
          <span class="input-group-text" id="">Middle Name:</span>
          <input type="text" class="form-control">
        </div>
      <!-- </div> -->
    <!-- </div> -->
  </div>



  <div class="form-group container">
    <label for="gender">Gender </label>
    <div class="form-group">
      <input type="radio" name="gender" value=" male" checked> Male
      <input type="radio" name="gender" value=" female"> Female<br>
    </div>
  </div>

  

  <div class="form-group container">
    <label for="text">Where do you live?<br> </label>
    <div class="input-group-prepend"> 
      <span class="input-group-text" id="">Street Address, Apt:</span>
      <input type="text" class="form-control">
      <span class="input-group-text" id="">City/Town:</span>
      <input type="text" class="form-control">
  
    </div>
  </div>
  
  
    <div class="input-group-prepend container"> 
      <span class="input-group-text" id="">Region/State/Province:</span>
      <input type="text" class="form-control">
      <span class="input-group-text" id="">Country:</span>
      <input type="text" class="form-control">
      <span class="input-group-text" id="">Postal Code:</span>
      <input type="text" class="form-control">
    </div><br>

    <div class="input-group-prepend container"> 
      <span class="input-group-text" id="">Telephone:</span>
      <input type="text" class="form-control">
      <span class="input-group-text" id="">Email:</span>
      <input type="text" class="form-control">
    </div>
     <br>

     <div class="form-group container">
      <label for="language">What is your preferred language of correspondence? </label>
      <div class="form-group">
        <input type="radio" name="language" value=" male" checked> English 
        <input type="radio" name="language" value=" female"> Hebrew 
        <input type="radio" name="language" value=" female"> German
        <br>
      </div>
    </div>

    <div class="form-group container">
      <label for="text">In case we cannot contact you, is there someone who you would like to authorize to speak with us about your
        claim? If so, please provide this person’s contact information below.<br> </label>
      <div class="input-group-prepend"> 
        <span class="input-group-text" id="">Family Name:</span>
        <input type="text" class="form-control">
        <span class="input-group-text" id="">First Name:</span>
        <input type="text" class="form-control">
        <span class="input-group-text" id="">Relationship to you: </span>
        <input type="text" class="form-control">
      </div>
    </div>

    <div class="input-group-prepend container"> 
      <span class="input-group-text" id="">Street Address, Apt:</span>
      <input type="text" class="form-control">
      <span class="input-group-text" id="">City/Town:</span>
      <input type="text" class="form-control">
    </div><br>

    <div class="input-group-prepend container"> 
      <span class="input-group-text" id="">Region/State/Province:</span>
      <input type="text" class="form-control">
      <span class="input-group-text" id="">Country:</span>
      <input type="text" class="form-control">
      <span class="input-group-text" id="">Postal Code:</span>
      <input type="text" class="form-control">
    </div><br>

    
    <div class="input-group-prepend container"> 
      <span class="input-group-text" id="">Telephone:</span>
      <input type="text" class="form-control">
      <span class="input-group-text" id="">Email:</span>
      <input type="text" class="form-control">
    </div>
     <br>

    <!-- page 1 -->

    <div class="p-3 mb-2 bg-secondary text-white"><b>Personal History</b></div>

    <div class="form-group container">
      <label for="text">Where were you born?  </label>
      <div class="input-group-prepend"> 
        <span class="input-group-text" id="">City/Town of Birth: </span>
        <input type="text" class="form-control">
        <span class="input-group-text" id="">Region of Birth:</span>
        <input type="text" class="form-control">
        <span class="input-group-text" id="">Country of Birth: </span>
        <input type="text" class="form-control">
      </div>
    </div>


    <div class="form-group container">
      <label for="text">What is your official date of birth? </label>
         <div class="input-group-prepend"> 
        <span class="input-group-text" id="">Day: </span>
        <input type="text" class="form-control">
        <span class="input-group-text" id="">Month:</span>
        <input type="text" class="form-control">
        <span class="input-group-text" id="">Year: </span>
        <input type="text" class="form-control">
       </div>
       </div>

       
    <div class="form-group container">
      <label for="text">
        Have you ever used another date of birth? If yes, please
        indicate the alternate date  </label>

      <div class="input-group-prepend"> 
        <span class="input-group-text" id="">Day: </span>
        <input type="text" class="form-control">
        <span class="input-group-text" id="">Month:</span>
        <input type="text" class="form-control">
        <span class="input-group-text" id="">Year: </span>
        <input type="text" class="form-control">
      </div>
    </div>

    <div class="p-3 mb-2 bg-secondary text-white"><b>Experience During the War</b></div>

    <div class="form-group container">
      <label for="language">How were you persecuted as a Jew by the Nazis and/or by 
        their allies? Please check all that apply: </label>
      <div class="form-group">
        <input type="radio" name="camp" value=" camp" checked> I was in a camp or similar place of incarceration.<br>
        <input type="radio" name="ghetto" value=" ghetto"> I was in a ghetto.<br>
        <input type="radio" name="hiding" value="hiding"> I lived in hiding without access to the outside world.<br>
        <input type="radio" name="false identity" value="false identity"> I lived in illegality/under a false identity.<br>
        <input type="radio" name="kinder" value="Kindertransport"> I was sent on a Kindertransport when I was under 21 years old.
         <br>
      </div>
    </div>

    <div class="form-group container">
      <label for="text">Which country were you living in prior to 9 November 1938 (Kristallnacht)</label>

      <div class="input-group-prepend"> 
        <input type="text" class="form-control">
      </div>
    </div>

    <div class="form-group container">
      <label for="text">Which countries did you live in after that date? Write the country and year. </label>

      <div class="input-group-prepend"> 
        <span class="input-group-text" id="">Country:</span>
        <input type="text" class="form-control">
        <span class="input-group-text" id="">Year: </span>
        <input type="text" class="form-control"><br>
        <!-- TO DO :add more countries -->
      </div>
      <br>
      <button type="button" class="btn btn-danger">+</button> <b> Add country</b>
    </div>


    <div class="form-group container">
      <label for="text">What month and year did your Kindertransport
        leave?  </label>

      <div class="input-group-prepend"> 
        <span class="input-group-text" id="">Month:</span>
        <input type="text" class="form-control">
        <span class="input-group-text" id="">Year: </span>
        <input type="text" class="form-control"><br>
      </div>
    </div>
    

    <div class="form-group container">
      <label for="text">From where did your Kindertransport leave continental
        Europe? Insert city and country. 
         </label>

      <div class="input-group-prepend"> 
        <input type="text" class="form-control">
      </div>
    </div>

    <div class="form-group container">
      <label for="language">Did your mother or father accompany you on the Kindertransport? </label>
      <div class="form-group">
        <input type="radio" name="yes" value=" yes" checked> Yes.<br>
        <input type="radio" name="no" value="no"> No.<br>
      </div>
    </div>
    
    <div class="form-group container">
      <label for="language">Did any siblings accompany you?</label>
      <div class="form-group">
        <input type="radio" name="yes" value=" yes" checked> Yes.<br>
        <input type="radio" name="no" value="no"> No.<br>
        <label for="language">- If Yes, please insert their current first and last name(s). </label>
        <!-- TO DO: if yes -->
        <div class="input-group-prepend"> 
          <input type="text" class="form-control">
        </div>
      </div>
    </div>

    <div class="p-3 mb-2 bg-secondary text-white"><b>Parents Information </b></div>

    <div class="form-group container">
      <label for="text"> What is your mother’s name?  </label>
      <div class="input-group-prepend"> 
        <span class="input-group-text" id="">Family Name:</span>
        <input type="text" class="form-control">
        <span class="input-group-text" id="">First Name:</span>
        <input type="text" class="form-control">
      </div>
</div>

<div class="form-group container">
  <label for="text"> What is your mother’s date of birth?  </label>

  <div class="input-group-prepend"> 
    <span class="input-group-text" id="">Day: </span>
    <input type="text" class="form-control">
    <span class="input-group-text" id="">Month:</span>
    <input type="text" class="form-control">
    <span class="input-group-text" id="">Year: </span>
    <input type="text" class="form-control">
  </div>
</div>

<div class="form-group container">
  <label for="text"> What is your mother’s date of death?  </label>

  <div class="input-group-prepend"> 
    <span class="input-group-text" id="">Day: </span>
    <input type="text" class="form-control">
    <span class="input-group-text" id="">Month:</span>
    <input type="text" class="form-control">
    <span class="input-group-text" id="">Year: </span>
    <input type="text" class="form-control">
    
  </div>
</div>

<div class="form-group container">
  <label for="text"> What is your mother’s place of death?</label>
  <div class="input-group-prepend"> 
    <input type="text" class="form-control">
  </div>
</div>
<br>


<div class="form-group container">
  <label for="text"> What is your father’s name?  </label>
  <div class="input-group-prepend"> 
    <span class="input-group-text" id="">Family Name:</span>
    <input type="text" class="form-control">
    <span class="input-group-text" id="">First Name:</span>
    <input type="text" class="form-control">
  </div>
</div>

<div class="form-group container">
<label for="text"> What is your father’s date of birth?  </label>

<div class="input-group-prepend"> 
<span class="input-group-text" id="">Day: </span>
<input type="text" class="form-control">
<span class="input-group-text" id="">Month:</span>
<input type="text" class="form-control">
<span class="input-group-text" id="">Year: </span>
<input type="text" class="form-control">
</div>
</div>

<div class="form-group container">
<label for="text"> What is your father’s date of death?  </label>

<div class="input-group-prepend"> 
<span class="input-group-text" id="">Day: </span>
<input type="text" class="form-control">
<span class="input-group-text" id="">Month:</span>
<input type="text" class="form-control">
<span class="input-group-text" id="">Year: </span>
<input type="text" class="form-control">

</div>
</div>

<div class="form-group container">
<label for="text"> What is your father’s place of death?</label>
<div class="input-group-prepend"> 
<input type="text" class="form-control">
</div>
</div>

<!-- page 2 -->

<div class="p-3 mb-2 bg-secondary text-white"><b>Previous Compensation  </b></div>

<div class="form-group container">
  <label for="text"> If you receive a monthly German government BEG pension, what is your BEG monthly pension number?
    This number can be found on your monthly paystub or other documents referring to your BEG pension.</label>
  <div class="input-group-prepend">  
  <input type="text" class="form-control">
  </div><br>

  <label for="text"> What authority issues your BEG monthly pension?</label>
  <div class="input-group-prepend">  
  <input type="text" class="form-control">
  </div><br>

  <label for="text"> From where do you receive your BEG monthly pension?
     (Example: Berlin, Hamburg, Saarburg, etc.)</label>
  <div class="input-group-prepend">  
  <input type="text" class="form-control">
  </div>
  </div><br><br>


  <div class="form-group container">
    <label for="text">If you have ever applied to other compensation programs for your persecution, please list these programs and
      whether you were awarded compensation (for example, the Claims Conference funds, the German BEG
      Wiedergutmachung or Länderhärtefonds, payments from the Israeli Ministry of Finance, the Austrian Opferfürsorge,
      or the French Orphan Pension).
      If you receive(d) compensation for your persecution, please include any documentation you have referring to this payment.  </label>

    <br>
    <br>
  </div>

  <!-- <div class="form-row container"> -->
    <div class="form-row container">
    <span class="col" id=""><b>Fund or Program:</b></span>
    <span class=" col" id=""><b>Country:</b> </span>
    <span class="col" id=""><b>Claim Number:</b></span>
    <span class=" col" id=""><b>One-time payment or pension:</b></span>
    <span class=" col" id=""><b>Was payment awarded?</b></span>
    </div><br>

    <div class="form-row container">
      <div class="col">
        <input type="text" class="form-control" placeholder="">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="">
      </div>
      

        <div class="col ">
          <input type="radio" name="camp" value=" camp"  checked>One-time <br>
          <input type="radio" name="camp" value=" camp">Pension<br>
        </div>
        

        <div class=" col ">
          <input type="radio" name="camp" value=" camp" checked>Yes<br>
          <input type="radio" name="camp" value=" camp">No<br>
        </div>

      </div><br>

    
       <!-- TO DO : add more -->
       &nbsp;&nbsp; <button type="button" class="btn btn-danger">+</button>  <b> Add program</b>
       <br>
       <br>
        

       <div class="p-3 mb-2 bg-secondary text-white"><b>Banking Information  </b></div>

<div class="form-group container">
  <label for="text">In case of a positive decision, having your bank account information on file will expedite payment. We can only wire
    payment to bank accounts in your name. </label>
    
    <div class="input-group-prepend"> 
      <span class="input-group-text" id="">Name of Bank</span>
      <input type="text" class="form-control">
      <span class="input-group-text" id="">Address of Bank</span>
      <input type="text" class="form-control">
    </div>
    <br>

    <div class="input-group-prepend"> 
      <span class="input-group-text" id="">IBAN number (EU residents) or
        Account Number (all other countries)</span>
    </div>
    <input type="text" class="form-control"><br>

    <div class="input-group-prepend"> 
      <span class="input-group-text" id="">ABA Routing Code (USA Residents)/
        Sortcode (UK Residents)/
        SWIFT Code (all other countries)</span>
    </div>
    <input type="text" class="form-control"><br>
    <br>

    <div class="input-group-prepend"> 
      <span class="input-group-text" id="">For Israeli residents &nbsp;  <b>only </b> &nbsp;:
        Bank Branch Number</span>
    </div>
    <input type="text" class="form-control"><br>
    <br>


    <div class="input-group-prepend"> 
      <span class="input-group-text" id="">For Canadian residents  &nbsp;  <b>only </b> &nbsp;:
        Transit and Institutional number</span>
    </div>
    <input type="text" class="form-control"><br>
    <br>


    <div class="input-group-prepend"> 
      <span class="input-group-text" id="">For Australian residents  &nbsp;  <b>only </b> &nbsp;:
        Bank State Branch (“BSB”)</span>
    </div>
    <input type="text" class="form-control">
    
    </div>

    <!-- page 3 -->

    <div class="p-3 mb-2 bg-secondary text-white"><b>Required Documentation </b></div>
    <div class="form-group container">
      <b>Proof of Identity</b>
      <label for="text">To complete your application, please provide us with a copy of a valid government-issued ID.
        This ID must have your photo and a signature.   </label><br><br>
        <label for="gender">What type of ID are you submitting?  </label>
    <div class="form-group">
      <input type="radio" name="gender" value=" male" checked> Passport<br>
      <input type="radio" name="gender" value=" female"> National Identity Card <br>
      <input type="radio" name="gender" value=" female"> Driver license <br>
      <input type="radio" name="gender" value=" female"> Other<br>
      <div class="col-3">
        <input type="text" class="form-control" placeholder="please specify">
      </div>
    </div>
    
    </div>

    
    
      <div class="row">
        
        <div class="col">
          <span class="input-group-text" id="">What is the ID number associated with this ID? </span>
          <input type="text" class="form-control" placeholder="">
        </div>
        <div class="col">
          <span class="input-group-text" id="">What is the country of issue? </span>
          <input type="text" class="form-control" placeholder="">
        </div>
      </div><br>

      <div class="row ">
        <div class="col">
          <div class="row container">
            <label for="text">When was it issued?  </label><br>
           </div>
          <div class=" row">
            
            <div class="col">
              <span class="input-group-text" id="">Day </span>
          <input type="text" class="form-control" placeholder="">
          </div>
          <div class="col">
            <span class="input-group-text" id="">Month </span>
          <input type="text" class="form-control" placeholder="">
          </div>
          <div class="col">
            <span class="input-group-text" id=""> Year </span>
          <input type="text" class="form-control" placeholder="">
          </div>
          </div>
          </div>
        

          <div class="col">
            <div class="row container">
              <label for="text">When does it expire? </label><br>
             </div>
            <div class=" row">
              
              <div class="col">
                <span class="input-group-text" id="">Day </span>
            <input type="text" class="form-control" placeholder="">
            </div>
            <div class="col">
              <span class="input-group-text" id="">Month </span>
            <input type="text" class="form-control" placeholder="">
            </div>
            <div class="col">
              <span class="input-group-text" id=""> Year </span>
            <input type="text" class="form-control" placeholder="">
            </div>
            </div>
            </div>


        </div>
      <br>

      <div class="row">
        
        <div class="col">
          <div class="row">
            <div class="col">
            
          <span class="text" id="">For current residents of the Unites States only:
            You must <br>also provide a copy of your Social Security
            card.<br> What is your Social Security Number?  </span>
            </div>
            <div class="row">
              <span class="text" id="">For current or former residents of Israel only:
                What is your Israel<br> ID number? </span>
            </div>
            </div><br>


            <div class="col">
              <div class="row">
                <div class="col">
                 <input type="text" class="form-control" placeholder="">
               </div>
               <div class="col">
                <input type="text" class="form-control" placeholder="">
              </div>
          </div>
          </div>
        </div>

        


      </div><br>


      <text-pages-four-six></text-pages-four-six>

    


  










</div>
</form>

