

    <h1>Kindertransport Fund
        Eligibility Criteria</h1>

   The Kindertransport Fund opened January 1, 2019. Although some survivors were<br>
provided a small payment in the 1950s, prior payments under compensation programs will<br>
not bar claimants from receiving this new benefit.<br><br>
The fund will issue one-time payments of 2,500 Euros.<br><br>
This fund is open to Jewish Nazi Victims who met the following criteria at the time of
transport <br><br>


<ul>
    <li> they were under 21 years of age, unaccompanied by their parents and took part in a
transport that was not organized by the German government in order to escape
potentially threatening persecution by German forces;


 
    </li>
</ul>

<ul>
    <li>

they were transported from somewhere within the German Reich or from territories
that had been annexed or occupied at the time;
 
    </li>
</ul>

<ul>
    <li>

the transport took place between November 9, 1938 and September 1, 1939 or was
approved by the German authorities after November 9, 1938 but before September
1, 1939.
 
    </li>
</ul>


Only the participants of the Kindertransport themselves may apply for compensation. Their
descendants or spouses are not eligible to file an application.<br><br>

<h2>Kindertransport Fund</h2>

This form is intended solely for Jewish Nazi victims who were on a Kindertransport.<br><br>
Please fill out this application form in English or German using CAPITAL LETTERS. Make sure to complete<br>
all fields. If you do not have the required information, please mark the field “unknown”. If the question<br>
does not apply to you, please mark that field as not applicable (“N/A”). This will assist us in processing<br>
your application efficiently. Thank you.<br>


    
